.header {
    background-color: #ccc;
    height: 50px;
}
.content {
    height: 500px;
}
.footer {
    background-color: #333;
    height: 200px;
}
.logo {
    font-size: 24px;
    position: absolute;
    top: 12px;
    left: 12px;

}
.nav {   
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 12px;
    right: 12px;
}
.nav li {
    display: inline-block;
}