.clearfix {
  overflow: auto;
}

body{
	color: #333;
	background: #cccccc;
}

a{
	color: orange;
	text-decoration: none;
}
a:hover{
	color: black;
}

.header {
    background: red;
}

.logo-holder {
    height: 100px;
    background: #333333;
    position: relative;
}

.logo {
    position: absolute;
    top: 26px;
    left: 20px;
}

.content {
    width: 1000px;
    margin: auto;
    background: #e5e5e5;
}

.footer {
    height: 200px;
    background: green;
}

.navigation {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #666;
}

.navigation > li {
	display: inline-block;
	padding: 12px 16px 12px 13px;
	border-right: 1px solid black;
}
.navigation > li > a {
	color: white;
	text-decoration: none;

}

.main{
	width: 700px;
	float: left;
	background: white;
}
.sidebar {
	width: 252px;
	float: left;
	padding: 24px;
}

.footer{
	height: 50px;
	background: #333;
	text-align: center;
	color: white;
}
.footer .copyright{
	line-height: 50px;
	font-size: 14px;
}

.brand {
	color: orange;
}

.articles {
	list-style-type: none;
	padding: 0;
	margin: 24px;

}

.articles > li {
	padding-bottom: 24px;
	border-bottom: 1px solid black;
	margin-bottom: 24px;
}

.article-image{
	width: 180px;
	float: left;
}

.article-preview{
	margin-left: 180px;
}

.article-preview h2{
	margin-top: 0
}

.sidebar-heading{
	border-bottom: 1px solid #666;
	padding-bottom: 12px
}

.list-unstyled{
	list-style-type: none;
	padding: 0;
	line-height: 28px
}

.sidebar p{
	font-size: 14px;
}