.header {
    background-color: #ccc;
    height: 50px;
}
.header-inner {
    width: 1200px; 
    position: relative;
    margin: auto;
}
.content {
    height: 500px;
}
.pano {
    color:white;
    text-align: center;
    background-image: url(../pano.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 300px;
}
.pano h2 {
    margin-top: 100px;  
}
.pano h3 {
    color: gray;
}
.pano button {
    color: white;
    background-color: #91CFE3;
    border: 1px solid black;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;

}
    

.footer {
    background-color: #333;
    height: 200px;
}
.logo {
    font-size: 24px;
    position: absolute;
    top: 12px;
    left: 12px;

}
.nav {   
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 12px;
    right: 12px;
}
.nav li {
    display: inline-block;
}
